
body{
  background-color: #355764;
  margin: 0;
  text-align: center;
  font-family: 'Crafty Girls';


}

h1{
  font-size: 2.5rem;
  margin: 0 auto;
  color: #00D7FF;
  font-family: 'Dancing Script';

}
h2{
  margin: 0 auto;
  color: #00D7FF;
  font-family: 'Crafty Girls';

}
h3{
  margin-top: 0;
  color: grey;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
a{
  color: white;
  text-decoration: none;
}
a:hover {
  color: #72FFFF;
}

.top-container{

  background-color: #355764;
  position: relative;
  padding-top: 100px;

}

.middle-container{
  margin: 0;
  background-color: #355764;
  text-align: center;
  position: relative;

  padding-top: 50px;
}

.bottom-container{
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #355764;
  text-align: center;
  position: relative;


}
.middle-picture{
  align-items: center;
  display: inline-flex;
  justify-content: center
  width: 5%;
  margin: auto;

}
.skills{
  background-color: #355764;
  text-align: center;
  position: relative;
  padding-bottom: 50px;

}
.skills-row{
  text-align: center;
  width: 5%;
  margin: auto;
  padding-bottom: 30px;


}
.image-text{
  font-size: 20px;
}
.interest{
  text-align: center;
}
.my-interest{
  display: inline-block;
  text-align: left;
}
.contact-details{
  padding-top: 50px;
  padding-bottom: 210px;
}
.education{
  padding-top: 50px;
}

/* .btn {
  background: #0d89db;
  background-image: -webkit-linear-gradient(top, #0d89db, #2980b9);
  background-image: -moz-linear-gradient(top, #0d89db, #2980b9);
  background-image: -ms-linear-gradient(top, #0d89db, #2980b9);
  background-image: -o-linear-gradient(top, #0d89db, #2980b9);
  background-image: linear-gradient(to bottom, #0d89db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Crafty Girls;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
} */
